body {
  background-color: #666d69;
  font-family: 'Montserrat', sans-serif;
}
.card {
    margin: 0 auto;
    color: #fff;
    padding: 50px;
    display: block;
    max-width: 500px;
    width: 100%;
    text-align: center;
    background-color: #666d69;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#countdown {
  font-size: 72px;
}
